.card {
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  top: 40%;
  position: absolute;
  left: 50%;
  margin-left: -197px;
  margin-top: -150px;
  max-width: 384px;
}

.cardImg {
  position: relative;
  width: 384px;
  height: 335px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardBody {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #fff;
  color: #000;
}

.cardText {
  font-size: 1rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
  .card {
    max-width: 250px;
  }

  .cardImg {
    width: 250px;
    height: 220px;
  }

  .cardBody {
    max-height: 240px;
    overflow: hidden;
    padding-bottom: 2rem;
  }

  .cardText {
    font-size: 0.75rem;
    text-overflow: ellipsis;
  }
}