.card {
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -197px;
  margin-top: -150px;
  max-width: 384px;
}

.cardImg {
  position: relative;
  width: 384px;
  height: 233px;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cardBody {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cardText {
  font-size: 1rem;
}