.card {
  width: 182.64px;
  height: 306.04px;
  background: #0336ff;
  border: 4.93617px solid #ffffff;
  border-radius: 29.617px;
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  margin-top: -150px;
}

.card p {
  width: 115px;
  height: 129px;
  font-size: 36px;
  text-align: left;
  word-spacing: 40px;
  padding: 25px;
}
