html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik';
  background: #0336FF;
  color: #FFFFFF
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.swipe {
  position: absolute;
    top: 40%;
    left: 50%;
}