
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;
}

/* Arrows */
.leftarrow {
  left: 35%;
  top: 50%;
  position: absolute;
}

.rightarrow {
  right: 35%;
  top: 50%;
  position: absolute;
}

/* Thumbs */
.thumbsdown {
  left: 25%;
  top: 50%;
  position: absolute;
}

.thumbsup {
  right: 25%;
  top: 50%;
  position: absolute;
}

@media all and (min-width: 768px) and (max-width: 1024px) { 
  .main {
    padding: 3rem;
  }
  .thumbsdown {
    left: 12%;
  }
  .thumbsup {
    right: 12%;
  }

  .leftarrow {
    left: 20%;
  }

  .rightarrow {
    right: 20%;
  }
}