
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;
}

/* Arrows */
/* .leftarrow {
  left: 35%;
  top: 50%;
  position: absolute;
}

.rightarrow {
  right: 35%;
  top: 50%;
  position: absolute;
}

Thumbs
.thumbsdown {
  left: 25%;
  top: 50%;
  position: absolute;
}

.thumbsup {
  right: 25%;
  top: 50%;
  position: absolute;
} 


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .main {
      padding: 3rem;
    }
    .thumbsdown {
      left: 12%;
    }
    .thumbsup {
      right: 12%;
    }
  
    .leftarrow {
      left: 20%;
    }
  
    .rightarrow {
      right: 20%;
    }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .main {
      padding: 3rem;
    }
    .thumbsdown {
      left: 12%;
    }
    .thumbsup {
      right: 12%;
    }
  
    .leftarrow {
      left: 20%;
    }
  
    .rightarrow {
      right: 20%;
    }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main {
      padding: 3rem;
    }
    .thumbsdown {
      left: 12%;
    }
    .thumbsup {
      right: 12%;
    }
  
    .leftarrow {
      left: 20%;
    }
  
    .rightarrow {
      right: 20%;
    }
}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .main {
      padding: 3rem;
    }
    .thumbsdown {
      left: 12%;
    }
    .thumbsup {
      right: 12%;
    }
  
    .leftarrow {
      left: 20%;
    }
  
    .rightarrow {
      right: 20%;
    }
}


/* iPhone Landscape */
@media only screen and (max-device-width: 480px) and (orientation:landscape) {
  .main {
    padding: 2rem;
  }
  .thumbsdown {
    left: 2%;
  }
  .thumbsup {
    right: 2%;
  }

  .leftarrow {
    left: 15%;
  }

  .rightarrow {
    right: 15%;
  }
}

/* iPhone Portrait */
@media only screen and (max-device-width: 480px) and (orientation:portrait) {
  .main {
    padding: 2rem;
  }
  .thumbsdown {
    left: 2%;
  }
  .thumbsup {
    right: 2%;
  }

  .leftarrow {
    left: 10%;
  }

  .rightarrow {
    right: 10%;
  }
} 