
.main {
  min-height: 100vh;
  min-width: 100vw;
  padding: 3rem;
}

/* Arrows */
.leftarrow {
  left: 35%;
  top: 50%;
  position: absolute;
}

.rightarrow {
  right: 35%;
  top: 50%;
  position: absolute;
}

/* Thumbs */
.thumbsdown {
  left: 25%;
  top: 50%;
  position: absolute;
}

.thumbsup {
  right: 25%;
  top: 50%;
  position: absolute;
}
/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) { 
  .main {
    padding: 3rem;
  }
  .thumbsdown {
    left: 12%;
  }
  .thumbsup {
    right: 12%;
  }

  .leftarrow {
    left: 20%;
  }

  .rightarrow {
    right: 20%;
  }
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
  .thumbsdown {
    left: 5%;
  }
  .thumbsup {
    right: 5%;
  }

  .leftarrow {
    left: 10%;
  }

  .rightarrow {
    right: 10%;
  }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
  .main {
    padding: 2rem;
  }
  .thumbsdown {
    left: 2%;
  }
  .thumbsup {
    right: 2%;
  }

  .leftarrow {
    left: 15%;
  }

  .rightarrow {
    right: 15%;
  }
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
  .main {
    padding: 2rem;
  }
  .thumbsdown {
    left: 2%;
  }
  .thumbsup {
    right: 2%;
  }

  .leftarrow {
    left: 10%;
  }

  .rightarrow {
    right: 10%;
  }
} 